/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  --primaryColor: #e03a3c;
  --secondaryColor: #1b1b1b;
  --grayColor: #444444;
  --lightColor: #e3f2fd;
  --skew-angle: -3deg;
}

/*--------------------------------------------------------------
# General/Global/Default styles
--------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  transition: 0.5s ease-in-out !important;
  list-style-type: none !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
  color: var(--grayColor) !important;
  overflow-x: hidden;
  line-height: 1.5 !important;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

section {
  padding: 4.5rem 0;
}

img {
  width: 100% !important;
  vertical-align: middle !important;
  object-fit: cover !important;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title::after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primaryColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.primary-color {
  color: var(--primaryColor);
}

.section {
  background-color: #fff;
  position: relative;
  padding: 120px 0;
  z-index: 100;
}

.section::before {
  content: "";
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0px;
  right: 0px;
  transform: skewY(-3deg);
  background: var(--secondaryColor);
  z-index: -1;
}

.mtop5{ margin-top: 0.5rem !important;}
.mtop10{margin-top: 1rem !important;}
.mtop125{margin-top: 1.25rem !important;}
.mtop15{margin-top: 1.5rem !important;}
.mtop20{margin-top: 2rem !important;}
.mtop25{margin-top: 2.5rem !important;}
.mtop30{margin-top: 3rem !important;}

/*--------------------------------------------------------------
# NAV SECTION
--------------------------------------------------------------*/
.navbar-brand {
  font-size: 1.87rem !important;
  color: black !important;
  font-weight: 800 !important;
}

.navbar-brand>span {
  color: var(--primaryColor) !important;
  font-size: 2rem;
}

.nav-item {
  margin-right: .5rem;
}

.nav-link {
  color: var(--grayColor) !important;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: var(--primaryColor) !important;
}

.nav-link.active {
  color: var(--primaryColor) !important;
}

.nav-btn {
  border: 2px solid black;
  background: var(--primaryColor) !important;
  color: var(--lightColor) !important;
  border-radius: 4px;
  padding: 0.5rem 1.5rem !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  display: inline-block !important;
  cursor: pointer;
}

.nav-btn:hover {
  background: var(--secondaryColor) !important;
  color: var(--lightColor) !important;
}

/*--------------------------------------------------------------
# HERO SECTION
--------------------------------------------------------------*/
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-bg.jpg) !important;
  background-position: top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.row-2 {
  height: 85vh;
}

.row-2 h1 {
  font-size: 2.5rem;
  text-transform: none;
}

.row-2 p {
  font-size: 1.6rem;
  line-height: 1.1;
}

.row-2 .hero-btn {
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.6rem 1.9rem;
  border-radius: 4px;
  margin-top: 1rem;
  color: #fff;
  background: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}

.row-2 .hero-btn:hover {
  background: transparent;
  border: 2px solid var(--lightColor);
}

/*--------------------------------------------------------------
# CLIENTS SECTION
--------------------------------------------------------------*/
.row img {
  width: 100px;
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.testimonial__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: .5rem;
  cursor: pointer;
}

.bi-record-fill {
  border: 1px solid red;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# ABOUT SECTION bez positiona
--------------------------------------------------------------*/
.about-btn {
  padding: .5rem 1.9rem;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--primaryColor);
}

.about-btn:hover {
  background: #e35052;
  background: var(--primaryColor);
}

.about-btn i {
  font-size: .5rem;
  padding-top: 3px;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# COUNTS SECTION
--------------------------------------------------------------*/
.counts>.container>.row .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.counts>.container>.row .count-box>.counter {
  display: block;
  color: var(--secondaryColor);
  font-family: "Open Sans", sans-serif;
}

.counts>.container>.row .count-box p {
  font-size: 14px;
}

/*--------------------------------------------------------------
# TABS SECTION
--------------------------------------------------------------*/
.tabs .nav-tabs {
  border: 0;
}

.tabs .nav-item {
  flex-basis: 23%;
  padding: .5rem !important;
}

.tabs .nav-link {
  border: 1px solid #b9b9b9 !important;
  padding: 1rem 1.5rem !important;
  color: var(--secondaryColor) !important;
  border-radius: 0 !important;
  cursor: pointer;
}

.tabs .nav-link:first-child {
  border: 2px solid red;
  padding: .5rem !important;
}

.tabs .nav-link h4 {
  font-size: 1rem;
  font-weight: 600;
}

.tabs .nav-link:hover {
  color: var(--primaryColor) !important;
}

.tabs .nav-link.active {
  background: var(--primaryColor) !important;
  color: var(--lightColor) !important;
  border-color: var(--primaryColor) !important;
}

.tabs .tab-content {
  margin-top: 1.9rem;
}

.tabs .tab-pane h3 {
  font-weight: 600;
  font-size: 1.6rem;
}

.tabs .tab-pane ul {
  padding: 0;
}

.tabs .tab-pane ul li {
  padding-bottom: .6rem;
}

.tabs .tab-pane p:last-child {
  margin-top: 0;
}

.tabs .tab-content .img-fluid {
  opacity: 1;
}

/*--------------------------------------------------------------
# TEAM SECTION
--------------------------------------------------------------*/
span {
  font-size: 0.75rem;
}

.card {
  position: relative;
}

.icon-box {
  position: absolute;
  left: 0;
  bottom: 100px;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50px;
  background: var(--primaryColor);
  color: var(--lightColor) !important;
  margin: 0 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card:hover .icon-box {
  opacity: 1;
}

/*--------------------------------------------------------------
# SERVICES SECTION
--------------------------------------------------------------*/
.icon-case {
  background: #252525;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
}

.icon-case:hover {
  background: #2b2b2b;
}

.services .icon-case i {
  color: var(--primaryColor);
  font-size: 2.5rem;
}

.services .icon-case h4 {
  font-weight: 700;
  margin-bottom: .9rem;
  font-size: 1.1rem;
}

.services .icon-case h4 a:hover {
  text-decoration: underline !important;
}

/*--------------------------------------------------------------
# PORTFOLIO SECTION
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 2rem;
}

.portfolio #portfolio-tabs {
  margin: auto;
}

.portfolio #portfolio-tabs li {
  cursor: pointer;
  display: inline-block;
  padding: .5rem .93rem .6rem .93rem;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--grayColor);
  border-radius: 3px;
}

.portfolio #portfolio-tabs li:hover,
.portfolio #portfolio-tabs li.tab-active {
  color: var(--lightColor);
  background: var(--primaryColor);
}

.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-content::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  padding: 20px;
}

.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 1.25rem;
  color: var(--lightColor);
  font-weight: 600;
}

.portfolio .portfolio-content .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: .9rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-content .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-content .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 1.75rem;
}

.portfolio .portfolio-content .portfolio-links a:hover {
  color: var(--lightColor);
}

.portfolio .portfolio-content:hover::before {
  opacity: 1;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# TESTIMONIALS SECTION
--------------------------------------------------------------*/
.carousel-wrapper{
  margin-bottom: 0;
}
.carousel-item h5{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 25px 0 5px 0 !important;
  color: #111;
}

.carousel-item h4{
  font-size: 0.9rem;
  margin: 0;
  color: #999;
}

.carousel-inner img{
  width: 90px !important;
  height: 90px ;
  opacity: 1;
}

/*--------------------------------------------------------------
# PRICING SECTION
--------------------------------------------------------------*/
.wrapper-item {
  border-radius: .6rem;
}

.table-wrapper .wrapper-item {
  flex-basis: 32%;
}

.table-wrapper .middle {
  background-color: var(--primaryColor);
}

.table-wrapper h3 {
  padding: .9rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.table-wrapper .price span {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.table-wrapper ul {
  text-align: center;
  line-height: 2.5rem !important;
  font-size: .9rem;
}

.table-wrapper .table-btn {
  display: inline-block;
  padding: .6rem 2.5rem .75rem 2.5rem;
  border-radius: 4px;
  color: var(--lightColor);
  transition: none;
  font-size: .9rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.table-wrapper .table-btn:hover {
  border: 2px solid var(--lightColor);
}

/*--------------------------------------------------------------
# FAQ SECTION
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #e03a3c;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #e03a3c;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*------------------------
# CONTACT SECTION
---------------------------*/
.contact h4 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact-address,
.contact-email,
.contact-phone {
  color: #444444;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px 0 32px 0;
  border-radius: 4px;
}

.contact-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 24px;
  border-radius: 4px;
}

.contact-address i {
  background-color: var(--primaryColor);
}

.contact-form span {
  padding: 9px 12px;
}

.btn {
  border-radius: 4px !important;
  padding: 10px 32px !important;
}

/*------------------------
# FOOTER SECTION
---------------------------*/
#footer {
  color: #fff;
  font-size: .87rem;
  background: #111111;
  padding-bottom: 0;
}

.footer-wrapper {
  padding: 3.75rem 0 1.87rem 0;
  background: #1b1b1b;
}

#footer .footer-wrapper .footer-contact {
  margin-bottom: 1.87rem;
}

#footer .footer-wrapper .footer-contact h4 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-wrapper .footer-contact h4 span {
  color: var(--primaryColor);
}

#footer .footer-wrapper .footer-contact p {
  font-size: .87rem;
  line-height: 1.5rem;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-wrapper h4 {
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  padding-bottom: .75rem;
}

#footer .footer-wrapper h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 2px;
  background: #e03a3c;
  bottom: 0;
  left: 0;
}

#footer .footer-wrapper .footer-links {
  margin-bottom: 1.87rem;
}

#footer .footer-wrapper .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-wrapper .footer-links ul i {
  padding-right: 2px;
  color: var(--lightColor);
  font-size: .6rem;
  line-height: 1;
}

#footer .footer-wrapper .footer-links ul li {
  padding: .6rem 0;
  display: flex;
  align-items: center;
}

#footer .footer-wrapper .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-wrapper .footer-links ul a {
  color: #aaaaaa;
  display: inline-block;
  line-height: 1;
}

#footer .footer-wrapper .footer-links ul a:hover {
  text-decoration: none;
  color: var(--lightColor);
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  padding-bottom: .75rem;
}

#footer .footer-newsletter form {
  margin-top: 1.87rem;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 6.25rem);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 1rem;
  padding: 0 1.25rem;
  background: var(--primaryColor);
  color: var(--lightColor);
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: var(--primaryColor);
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

.footer .credits a {
  color: var(--primaryColor);
}

#footer .social-links a {
  font-size: 1.1rem;
  display: inline-block;
  background: #2b2b2b;
  color: var(--lightColor);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 2.25rem;
  height: 2.25rem;
}

#footer .social-links a:hover {
  background: var(--primaryColor);
  color: var(--lightColor);
  text-decoration: none;
}

/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/
@media (width < 1200px) {
  .about .content {
    padding-right: 0;
  }

  .carousel-inner img{
    width: 200px !important;
    height: 200px ;
  }
}

@media (width <=992px) {
  .clients>.wrapper {
    height: 30vh;
  }

  .clients>.wrapper img {
    width: 100px !important;
  }

  .about-bg {
    padding: 120px;
  }

  .table-wrapper .wrapper-item {
    flex-basis: 45%;
  }
}

@media (width < 768px) {
  .about {
    text-align: center !important;
  }

  .clients>.wrapper {
    height: 60vh;
  }

  .table-wrapper .wrapper-item {
    flex-basis: 80%;
  }

  .text-muted{
    font-size: 0.9rem;
  }
  }


@media (width <=576px) {
  .row-2 h1 {
    font-size: 2rem;
  }

  .row-2 p {
    font-size: 1rem;
    text-transform: none;
  }
  
  .clients>.wrapper {
    height: 60vh;
  }

  .tabs .nav-item {
    flex-basis: 45%;
  }

  .tabs .nav-link {
    padding: .9rem;
  }

  .tabs .nav-link h4 {
    font-size: .9rem;
  }

  .portfolio #portfolio-tabs li {
    padding: .4rem .8rem .5rem .8rem;
  }

  .faq .faq-list i {
    font-size: 14px;
  }
  .faq .faq-list {
    padding: 0 1rem;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 996;
  padding: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}


